    @font-face {
        font-family: "Montserrat-Regular";
        src: url(/rsschool-cv/fonts/Montserrat-Regular.otf) format('otf');
    }
    
    @font-face {
        font-family: "Montserrat-Bold";
        src: url(/rsschool-cv/fonts/Montserrat-Bold.otf) format('otf');
    }
    
    @font-face {
        font-family: "Montserrat-Italic";
        src: url(/rsschool-cv/fonts/Montserrat-Italic.otf) format('otf');
    }
    
    @font-face {
        font-family: "Montserrat-Medium";
        src: url(/rsschool-cv/fonts/Montserrat-Medium.otf) format('otf')
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        color: #6a6a6a;
        font-family: "Montserrat-Regular", "Arial", "Helvetica", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: normal;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1024px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        background-color: #bdddbd;
    }
    
    h2 {
        text-transform: uppercase;
    }
    
    h1,
    h2 {
        padding-bottom: 15px;
    }
    
    .left-part {
        flex: 30;
        padding: 0 0 0 60px;
    }
    
    .right-part {
        flex: 70;
        margin-left: 20px;
        padding: 20px 50px;
        border-left: 2px solid #dce4dc;
    }
    
    .photo {
        max-width: 100%;
        height: auto;
        padding: 50px 0;
    }
    
    section {
        margin-top: 20px;
    }
    
    .contacts {
        margin-bottom: 40px;
    }
    
    a:hover {
        color: #214224;
    }
    
    li {
        list-style-type: none;
    }
    
    li a {
        text-decoration: none;
        color: #6a6a6a;
    }
    
    section {
        margin-bottom: 20px;
    }
    
    .about-me {
        width: 100%;
        text-align: justify;
    }
    
    section pre {
        font-size: 0.8rem;
    }
    
    footer {
        display: flex;
        background-color: #bdddbd;
        padding: 50px;
    }
    
    .link-rs-school img {
        margin-left: 15px;
    }
    
    .link-github:hover,
    .link-rs-school:hover {
        transform: scale(1.3);
        transition-duration: 200ms;
    }